services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8081:8080"   # dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - nikash
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    container_name: nikash-saas-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nikash_saas
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin7931
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - nikash
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: nikash-saas-adminer
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer.rule=Host(`adminer.local.nikash`)"
      - "traefik.http.routers.adminer.entrypoints=web"
    networks:
      - nikash
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: nikash-saas-backend
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: ["npm", "run", "dev"]  # nodemon dev
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.local.nikash`)"
      - "traefik.http.routers.backend.entrypoints=web"
    networks:
      - nikash
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nikash-saas-frontend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`app.local.nikash`)"
      - "traefik.http.routers.frontend.entrypoints=web"

      # Tell Traefik to use THIS service
      - "traefik.http.routers.frontend.service=frontend"

      # Tell Traefik which port the container exposes (Vite)
      - "traefik.http.services.frontend.loadbalancer.server.port=5173"
    networks:
      - nikash
    restart: unless-stopped

volumes:
  mysql_data:


networks:
  nikash:
    name: nikash
    driver: bridge
