services:
  traefik:
    image: traefik:v3.6.2
    container_name: traefik
    command:
      - "--api.dashboard=true"
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8081:8080"   # dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
    networks:
      - nikash
    restart: unless-stopped

  mysql:
    image: mysql:8.0
    container_name: nikash-saas-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nikash_saas
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin7931
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - nikash
    ports:
      - "3306:3306"
    restart: unless-stopped

  adminer:
    image: adminer
    container_name: nikash-saas-adminer
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adminer.rule=Host(`adminer.local.nikash`)"
      - "traefik.http.routers.adminer.entrypoints=web"
    networks:
      - nikash
    restart: unless-stopped

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: nikash-saas-api
    env_file:
      - ./api/.env.docker
    volumes:
      - ./api/src:/app/src          # only source code live reload
      - ./api/prisma:/app/prisma    # ok to mount schema
      - /app/node_modules           # prevent overriding node_modules
    command: ["npm", "run", "dev"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.rule=Host(`api.local.nikash`)"
      - "traefik.http.routers.backend.entrypoints=web"
      - "traefik.http.services.backend.loadbalancer.server.port=3000"
    networks:
      - nikash
    restart: unless-stopped


  admin:
    build:
      context: ./admin
      dockerfile: Dockerfile
    container_name: nikash-saas-admin
    env_file:
      - ./admin/.env
    volumes:
      - ./admin:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.admin.rule=Host(`admin.local.nikash`)"
      - "traefik.http.routers.admin.entrypoints=web"
      # Tell Traefik to use THIS service
      - "traefik.http.routers.admin.service=admin"
      # Tell Traefik which port the container exposes (Vite)
      - "traefik.http.services.admin.loadbalancer.server.port=3002"
    networks:
      - nikash
    restart: unless-stopped
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: nikash-saas-frontend
    env_file:
      - ./frontend/.env
    volumes:
      - ./frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.frontend.rule=Host(`app.local.nikash`)"
      - "traefik.http.routers.frontend.entrypoints=web"

      # Tell Traefik to use THIS service
      - "traefik.http.routers.frontend.service=frontend"

      # Tell Traefik which port the container exposes (Vite)
      - "traefik.http.services.frontend.loadbalancer.server.port=3003"
    networks:
      - nikash
    restart: unless-stopped

volumes:
  mysql_data:


networks:
  nikash:
    name: nikash
    driver: bridge
